.intro{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
}
.intro .text{
    width: 50%;
    padding: 3rem;
}
.intro .text h1{
    font-family: 'Anton';
    color: #fff;
    font-size: 5rem;
}
.intro .text p{
    font-family: 'Poppins';
    color: #fff;
    font-size: 1rem;
    margin-top: 1rem;
}

.intro .text button{
    background: #ffa800;
    display: flex;
    gap : 1rem;
    outline: none;
    font-size: 1rem;
    border: none;
    padding: .5rem .7rem;
    align-items: center;
    justify-content: space-between;
    color: #000;
    border-radius: 50px;
    margin-top: 2rem;
}
.intro .text button i{
    background: #000;
    padding: 7px;
    border-radius: 50%;
    color: white;
}
.intro img{
    height: 70vh;
    margin-right: 10rem;
    transform: scaleX(-1);
}